@media only screen and (max-width: 1170px) {
	body {
		height: calc(100vh - 50px);
	}

	.first-header {
		height: 5vh;
		min-height: 50px;
	}

	.heroes-container {
		max-width: 526px;
		flex-direction: column-reverse;
		max-height: fit-content;
		gap: 0;
	}

	.heroes-container .choose-hero {
		width: 100%;
	}

	.choose-hero .heroes .hero {
		min-width: 76px;
		height: 91px;
		flex-basis: 2%;
	}

	.heroes-container .chosen-hero {
		min-height: 273px;
	}

	.chosen-hero .large-hero-img {
		width: 30%;
	}
}

@media only screen and (max-width: 580px) {
	.first-header {
		height: 3vh;
		min-height: 20px;
	}

	.heroes-container {
		width: 81%;
		padding: 0;
		margin: auto;
		/* gap: 15px; */
	}

	.heroes-container .choose-hero {
		width: 100%;
		max-height: 450px;
		justify-content: center;
	}

	.choose-hero .heroes .hero {
		min-width: 89px;
		height: 95px;
		flex-basis: 26%;
	}

	.choose-hero .heroes {
		gap: 10px;
	}

	.heroes-container .chosen-hero {
		width: 100%;
		min-height: 260px;
	}

	.chosen-hero .large-hero-img {
		width: 55%;
	}
}
